<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <div class="flex items-center">
            <%= link_to image_tag("https://flowbite.com/docs/images/logo.svg", class:"mr-3 h-6 sm:h-9", alt:"Flowbite Logo" ), root_path %>
            <%= link_to (t "defaults.service_name"), root_path, class:"self-center text-xl font-bpmf whitespace-nowrap dark:text-white" %>
            </div>
            <div class="flex items-center lg:order-2">
                <%= link_to (t "defaults.login"), :login, class: "text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2" %>
                <%= link_to (t "defaults.register"), new_user_path, class: "text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2" %>
            </div>
        </div>
    </nav>
</header>