<div class="m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <% if @results.present? %>
      <% @results.each do |result| %>
        <%= result.created_at.to_fs(:datetime_jp) %>
        <span class="font-bold">
        <%= link_to "#{result.score}問正解", category_question_result_path(result.category, result), class: "text-blue-600" %>
        <%= "/ #{result.category.questions.count}問" %>
        </span>
        <br>
      <% end %>
    <% else %>
      <p>まだ学習記録がありません</p>
      <p>練習問題にチャレンジしてみましょう</p>
    <% end %>
  </div>
</div>